<nav style="display:flex;gap:.75rem;padding:.75rem;border-bottom:1px solid #ddd">
  <a routerLink="/">Home</a>
  <a routerLink="/binding">Binding</a>
  <a routerLink="/directives">Directives</a>
  <a routerLink="/pipes">Pipes</a>
  <a routerLink="/lifecycle">Lifecycle</a>
  <a routerLink="/http">HTTP</a>
  <a routerLink="/forms">Forms</a>
  <a routerLink="/admin">Admin</a>
  <a routerLink="/signals">Signals</a>
  <a routerLink="/perf">Perf</a>
  <a routerLink="/lazy">Lazy</a>
</nav>

<main style="padding:1rem">
  <router-outlet></router-outlet>
</main>
